<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
      <img src="assets/img/logo_spa.png" width="150" height="30" class="d-inline-block align-top" alt="MEDICINA">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item " routrLinkActive="active">
              <b><a class="nav-link" [routerLink]="['home']"><span class="fa fa-home"></span> Inicio</a></b>
          </li>
          <li class="nav-item" routrLinkActive="active" *ngIf="auth.isAuthenticated()">
              <b><a class="nav-link" [routerLink]="['doctores']"><span class="fa fa-user-md"></span> Doctores</a></b>
          </li>
          <li class="nav-item" routrLinkActive="active" *ngIf="auth.isAuthenticated()">
              <b><a class="nav-link" [routerLink]="['/invocador', 'nuevo']"><span class="fas fa-dna"></span>Registrar paciente</a></b>
          </li>
          <li class="nav-item" routrLinkActive="active" *ngIf="auth.isAuthenticated()">
              <b><a class="nav-link" [routerLink]="['invocadores']"><span class="fa fa-user-circle"></span>Pacientes</a></b>
          </li>
      </ul>
  </div>
  <form class="form-inline">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
          </div>
          <input type="text" class="form-control" placeholder=""  aria-describedby="basic-addon1">
        </div>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit" style="margin-left:5px ">Buscar</button>
      </form>
      <button class="btn btn-outline-light my-2 my-sm-0" style="margin-left:5px " (click)="login()" *ngIf="!auth.isAuthenticated()" type="button">Ingresar</button>
      <button class="btn btn-outline-light my-2 my-sm-0" style="margin-left:5px " (click)="salir()" type="button" *ngIf="auth.isAuthenticated()">Salir</button>
</nav>
