<img src="assets/img/brain.png" class="rounded mx-auto d-block logo" alt="LOL" style="width: 20%">
<div class="row">
    <div class="col-md-12 text-right p-3">
        <button [routerLink]="['/invocador', 'nuevo']" class="btn btn-outline-primary" type="button">Nuevo</button>
    </div>
</div>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive-md">
  <table class="table table-bordered">
     <thead>
    <tr class="tablaAdmin text-center">
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">#</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Nombre</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Apellidos</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">TD</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Número</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Edad</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Dirección</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Celular</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Médico</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Última revision</th>
      <th scope="col" style="width: 10%" class="align-middle" style="background-color: rgb(72, 153, 228);">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of invocadores | keys; let i = index" class="mitad" style="font-size: 12px">
      <td scope="row">{{ i + 1 }}</td>
      <td>{{ invocadores[k].nombre }}</td>
      <td>{{ invocadores[k].apellido }}</td>
      <td>{{ invocadores[k].documento }}</td>
      <td>{{ invocadores[k].numero }}</td>
      <td>{{ invocadores[k].edad }}</td>
      <td>{{ invocadores[k].direccion }}</td>
      <td>{{ invocadores[k].celular }}</td>
      <td>{{ invocadores[k].medico }}</td>
      <td>{{ invocadores[k].ultvisita }}</td>
       <td style="margin: 10px;">
        <div class="row">
          <div class="col text-left" style="width: 50%;padding: 2%">
            <button [routerLink]="['/invocador', k]" class="btn btn-outline-success" style="width: 100%;padding: 0%"><span class="fas fa-pencil-alt"></span></button>
          </div>
          <div class="col text-right" style="width: 50%;padding: 2%">
            <button (click)="borrarInvocador(k)" class="btn btn-outline-danger" style="width: 100%;padding: 0%"><span class="far fa-trash-alt"></span></button>
          </div>
        </div>
      </td>
    </tr>    
  </tbody>
  </table>
    </div>
</div>