<h3 class="fondoTitulo">Paciente <small class="color-personal">{{ invocador.nombre }}</small></h3>
<button [routerLink]="['/invocadores']" class="btn btn-outline-info m-1"><span class="fas fa-list-ul"></span></button>
<button (click)="agregarNuevo( forma )" class="btn btn-outline-primary m-1"><span class="fas fa-user-plus"></span></button>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
        <form (ngSubmit)="guardar()" #forma="ngForm" novalidate class="text-center">
            <div class="row">
                <div class="col">
                        <h6 class="text-left">Nombre</h6>
                        <input [(ngModel)]="invocador.nombre" type="text" name="nombre" class="form-control shadow p-3 inputPaciente" placeholder="Nombre del invocador" required>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-left">Documento</h6>
                            <select class="browser-default custom-select shadow p-3 inputPaciente" name="documento">
                                <option selected>Tipo</option>
                                <option value="1">Cedula Ciudadania</option>
                                <option value="2">Tarjeta Identidad</option>
                                <option value="3">Contraseña</option>
                            </select>
                        </div>
                        <div class="col">
                            <h6 class="text-left">Número</h6>
                            <input [(ngModel)]="invocador.nombre" type="text" name="nombre" class="form-control shadow p-3 inputPaciente" placeholder="Nombre del invocador" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h6>Nombre</h6>
                <input [(ngModel)]="invocador.nombre" type="text" name="nombre" class="form-control shadow p-3 inputPaciente" placeholder="Nombre del invocador" required>
            </div>
            <div class="form-group">
                <label class="color-personal">Nombre de usuario</label>
                <input [(ngModel)]="invocador.username" type="text" name="username" class="form-control" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group">
                <label class="color-personal">Servidor</label>
                <select [(ngModel)]="invocador.servidor" name="servidor" class="form-control">
                  <option value="" disabled selected>Elige tú region</option>
                  <option *ngFor="let region of regiones" [value]="region.clave">{{region.descripcion}}</option>
                </select>
            </div>
            <div class="row">
                <div class="column m-3 text-center">
                    <label class="color-personal">Liga</label>
                    <select [ngStyle]="{'width': '200px'}||{'overflow':'auto'}" [(ngModel)]="invocador.liga" name="liga" class="form-control">
                      <option *ngFor="let liga of ligas" [value]="liga.lig">{{liga.lig}}</option>
                    </select>
                </div>
                <div class="column m-3 text-center">
                    <label class="color-personal">División</label>
                    <select [(ngModel)]="invocador.division" name="division" class="form-control">
                      <option *ngFor="let division of divisiones" [value]="division.divi">{{division.divi}}</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-light">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>